**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.hypothesis
**/htmlcov
**/.coverage
**/.mypy_cache
**/.git
**/.github
**/tests
**/docs
**/*.md
!README.md
**/.env
**/.venv
**/venv
**/dist
**/build
**/*.egg-info
